# Bỏ qua file môi trường chứa Key mật
.env

# Bỏ qua database
data/chroma_db/
*.sqlite3

# Bỏ qua folder môi trường ảo (nếu có)
env/
.venv/

# Virtual environments
venv311/
src/venv/
src/venv311/

# Python cache
__pycache__/
*.pyc

# OS
.DS_Store
Thumbs.db